.sample-form
  input, textarea 
    // Make the text boxes wide enough
    width 300px
  button
    // add spacing between buttons
    font-weight bold

.subok *, .subok 
  margin 10px
  border thin solid #EEE

.selector-test
  border thin solid blue

.mm-print-html-node, .mm-print-jade-node
  padding 0 20px
  margin 2px 0
  font-family monospace
  border thin solid blue
