.sample-form
  input, textarea 
    // Make the text boxes wide enough
    width 300px
  button
    // add spacing between buttons
    font-weight bold

#selector-area
  border thin solid gray
  *
    margin 10px
    border thin solid white

  .selector-test
    border thin solid blue
  &.show-borders *
    border thin solid #CCC
    .selector-test
      border thin solid blue

#jquery-area
  border thin solid gray
  *
    margin 10px

.mm-print-html-node, .mm-print-jade-node
  padding 0 20px
  margin 2px 0
  font-family monospace
  white-space nowrap
  border thin solid white

// syntax highlighting

.mm-print-html-node
  // Hopefully there's a better way to implement this 
  .mm-print-html-element
    .mm-print-html-lt, .mm-print-html-gt, .mm-print-html-eq, .mm-print-html-slash
      color #008
    .mm-print-html-quote, .mm-print-html-quoted
      color #00F
    .mm-print-html-tag
      color #00B
    .mm-print-html-attr
      color #840
  .mm-print-html-text
    color #111
  .mm-print-html-comment
    .mm-print-html-lt, .mm-print-html-gt, .mm-print-html-bang, .mm-print-html-dash
      color green
    color green

.mm-print-jade-node
  // Hopefully there's a better way to implement this 
  .mm-print-jade-element
    .mm-print-jade-tag
      color #008
    .mm-print-jade-id
      color #088
    .mm-print-jade-class
      color #F88
    .mm-print-jade-attr
      color #840
    .mm-print-jade-openparen, .mm-print-jade-closeparen, .mm-print-jade-eq
      color #008
    .mm-print-jade-quote, .mm-print-jade-quoted
      color #00F
  .mm-print-jade-text
    .mm-print-jade-txt
    color #111
    .mm-print-jade-bar
      color #008
  .mm-print-jade-comment
    .mm-print-jade-slash
      color green
    .mm-print-jade-cmt
      color green

// what to do when part of the tree is selected
.mm-print-html-node.node-has-class, .mm-print-jade-node.node-has-class
  border thin solid blue

.print-area
  border thin solid black
  margin -1px

#selectors
  #html-data
    min-height 80px
  #jade-contents
    margin-left -10px

#jade-test
  #html-data, #jade-data
    width 100%
    min-height 350px
  #compile
    margin-bottom 10px
  #html-contents
    margin-left -10px
  #render-area
    border thin solid black
    min-height 300px

#css-test
  #css-data, #styl-data
    width 100%
    min-height 100px
