#problems.container
  h3 Problems
  div(ng-repeat="problem in upcomingProblems | orderBy: 'index'", mm-upcoming="problem")
  label.checkbox(ng-show="CurrentUser.user.is_admin")
    input(type="checkbox", ng-model="showInactive")
    | Show Inactive
  a.btn.btn-link(ng-href="#/problems?#") Back to Problems
  div(ng-hide="problems.length")
    i.icon-spinner.icon-spin
    |  Loading
  .row-fluid
    .span10
      div(ng-repeat="problem in problems | filter: problemFilter | orderBy: 'index'", mm-problem="problem", attempt="attempt(problem, answer)")
