div(ng-show="problem.has_answered")
  h4(ng-show="problem.answer != null") Answer: {{problem.answer}}
  h4(ng-show="problem.answer == null")
    i.icon-spinner.icon-spin
    |  Loading Answer...
div(ng-show="!problem.has_answered && problem.can_answer")
  h4 Answer:
  input(ng-model="answer", placeholder="Answer here...")
  button.btn.btn-primary(ng-disabled="!answer.length", ng-click="submit()") Submit
