#game.container
  h3 Typeeng
  .loading
    | &nbsp;
    span(ng-show="loadingGame")
      i.icon-spinner.icon-spin
      span.text-info  Loading... ({{loadingMessage}})
  form(ng-submit="fun()")
    .row
      h4.span12
        | {{WPM() | number: 2}}
        |  words per minute 
    .row
      .span12
        .progress.progress-striped.active
          .bar.bar-info(style="width:{{(WPM()/2-0) | bound:0:10}}%")
          .bar.bar-almost(style="width:{{(WPM()/2-10) | bound:0:10}}%")
          .bar.bar-success(style="width:{{(WPM()/2-20) | bound:0:10}}%")
          .bar.bar-caution(style="width:{{(WPM()/2-30) | bound:0:10}}%")
          .bar.bar-warning(style="width:{{(WPM()/2-40) | bound:0:10}}%")
          .bar.bar-distress(style="width:{{(WPM()/2-50) | bound:0:25}}%")
          .bar.bar-danger(style="width:{{(WPM()/2-75) | bound:0:25}}%")
    .row
      h2.span11
        .text-error(ng-show="charMistakes", ng-pluralize, count="charMistakes", when="{\
            '0': '',\
            '1': '1 mistake!',\
            'other': '{} mistakes!'}")
      h2.span1 &nbsp;
    .typed
      input(type='text', ng-model="data.line", placeholder="Type here...", ng-trim='false', autofocus)
    .words
      ul.nav.nav-pills.nav-stacked
        li.word(ng-animate="'animate'", ng-repeat="line in [lastLastLine, lastLine].concat(lines)", style="opacity:{{$index | opacity: lines.length+1}}")
          //- line[0] so animate works
          span(
            ng-repeat="ch in line[0]"
            class="status-{{ch.status}}"
            ng-class="{'current-word': wordIndex == ch.wordIndex}"
            ng-bind-html-unsafe="ch.display")
