#game.container
  h3 Typeeng
  .loading
    | &nbsp;
    span(ng-show="loadingGame")
      i.icon-spinner.icon-spin
      span.text-info  Loading... ({{loadingMessage}})
  div
    div
      | DATA
      | charPresses:{{charPresses}}
      | charMistakes:{{charMistakes}}
      | words:{{words}}
      | wordMistakes:{{wordMistakes}}
      | startTime:{{startTime}}
      | wordIndex:{{wordIndex}}
      | elapsed:{{elapsed()}}
      | WPM:{{WPM()}}
    form.typed
      input(type='text', ng-model="data.line", placeholder="Type here...", ng-trim='false')
    .words
      ul.nav.nav-pills.nav-stacked
        li.word(ng-animate="'animate'", ng-repeat="line in [lastLine].concat(lines)")
          //- line[0] so animate works
          span(
            ng-repeat="ch in line[0]"
            class="status-{{ch.status}}"
            ng-class="{'current-word': wordIndex == ch.wordIndex}"
            ng-bind-html-unsafe="ch.display")
