#jade-test
  .row
    h1 Jade Practice
    p.lead This lets you practice your Jade Skills
  form.row
    .span6
      div
        textarea#jade-data(
          ng-model="jadeData"
          placeholder="Type Jade here..."
        )
      button#compile.btn.btn-primary(ng-click="compile()") Compile!
      textarea#html-data(
        ng-model="htmlData"
        placeholder='Compiled HTML will go here...'
        disabled
      )
      .text-info(ng-show="compiling")
        | Compiling...
      .text-error(ng-show="error")
        | There seems to be an error.
    .span6
      h3 Render area
      #render-area(ng-hide="error", ng-bind-html-unsafe="htmlData")
