#jquery-test
  .row
    h1 jQuery Practice
    p.lead This lets you practice your jQuery Skills
  .row
    #jquery-area.span12
      form.subok
        | This is a form with class (subok)
        .a.b.c
          | This is a div class (a b c)
          #fiil.fool.feel
            | This is a div with id (fiil) class (fool feel)
          button.btn
            | This is a button with class (btn)
          input(type="text", placeholder="This is an input")
        #x.c.d.e
          | This is a div with class (c d e) and id (x)
          .y
            | This is a div with class (y).
            em
              | This is emphasized text.
        button#submit.btn.btn-success
          | This is a button with id (submit) and class (btn btn-success)
