#game.container
  h3 Typeeng
  .loading
    | &nbsp;
    span(ng-show="loadingGame")
      i.icon-spinner.icon-spin
      span.text-info  Loading... ({{loadingMessage}})
  form.form-horizontal(name="name", ng-submit="submitName()")
    .control-group
      label.control-label What is your full name?
      .controls
        input(type='text', ng-model="CurrentUser.name", placeholder="John Doe...", autofocus)
    .control-group
      label.control-label Nickname?
      .controls
        input(type='text', ng-model="CurrentUser.nickname", placeholder="Joe...")
    .control-group
      .controls
        button.btn.btn-success(type='submit') Start Typeeng!
        
