.container
  form.thread(ng-submit="save()")
    .index 
      h3 New Thread
      input.subject(type='text', ng-model="message.subject", placeholder="Subject...")
    form.new-thread
      .textarea-container
        textarea.text-area(ng-model="message.body", placeholder="Message body...")
        div(ng-show="saving")
          i.icon-spinner.icon-spin
          |  Saving...
        .control-group
          .controls
             button.btn.btn-primary(type="submit", ng-disabled="saving")
                i.icon-save
                |  Save
