.row
  div(class="{{ {true: 'span5', false: 'span12'}[!!showForm] }}")
    h3 New Problem (Preview)
    label.checkbox Show form
      input(type='checkbox', ng-model='showForm')
    div(mm-problem="problem", attempt="attempt(answer)")

  .span7(ng-if="showForm")
    h3 New Problem
    form.form-horizontal.new-problem(ng-submit="_save()")
      .control-group
        label.control-label Problem Number
        .controls
          input(type='text', ng-model="problem.index", placeholder="Problem number...")
      .control-group
        label.control-label Title
        .controls
          input(type='text', ng-model="problem.title", placeholder="Title...")
      .control-group
        label.control-label Body
        .controls
          textarea.html-area(ng-model="problem.html", placeholder="Problem body in HTML...")
      .control-group
        label.control-label Answer
        .controls
          input(type='text', ng-model="problem.answer", placeholder="Answer...")
      .control-group
        label.control-label Release Date
        .controls
          input(type='text', ng-model="problem.release", placeholder="Release Date...")
      .control-group
        .controls
          label.checkbox Is Live
            input(type='checkbox', ng-model="problem.is_live")
           button.btn.btn-primary(type="submit", ng-disabled="saving") Save
      div(ng-show="saving")
        i.icon-spinner.icon-spin
        |  Saving...
