.mm-print-html-node(class="{{additionalClasses({element: element})}}", ng-switch='element.nodeType')
  .mm-print-html-element(ng-switch-when='1')
    // Element 
    div(ng-show='childNodes.length')
      .mm-print-html-opening
        | &lt;{{element.tagName|lowercase}}
        span(ng-repeat='attr in attributes')  {{attr.name|htmlEscape}}="{{attr.value|htmlEscape}}"
        | &gt;
      // We need to escape this recursive directive
      .mm-print-html-child(ng-repeat='child in childNodes'
        mm-compile-html="'<div mm-print-html=child \
                               additional-classes=additionalClasses({element:element}) \
                               filter-attributes=filterAttributes({attributes:attributes})> \
                          </div>'")
      .mm-print-html-closing
        | &lt;/{{element.tagName|lowercase}}&gt;
    div(ng-hide='childNodes.length')
      .mm-print-html-openclosing(ng-show='isVoid(element.tagName)')
        | &lt;{{element.tagName|lowercase}}
        span(ng-repeat='attr in attributes')  {{attr.name|htmlEscape}}="{{attr.value|htmlEscape}}"
        |  /&gt;
      .mm-print-html-openclosing(ng-show='!isVoid(element.tagName)')
        | &lt;{{element.tagName|lowercase}}
        span(ng-repeat='attr in attributes')  {{attr.name|htmlEscape}}="{{attr.value|htmlEscape}}"
        | &gt;&lt;/{{element.tagName|lowercase}}&gt;
  .mm-print-html-text(ng-switch-when='3')
    // Text 
    | {{element.textContent|htmlEscape}}
  .mm-print-html-comment(ng-switch-when='8')
    // Comment 
    | &lt;!--{{element.textContent|htmlEscape}}--&gt;
  // Others unrecognized at the moment 
