#register.container
  .row
    .span12
      h1 Unrealtime Forum
      h2 Sign up now!
  .row
    .span6
      h3 Sign up
      form(ng-submit="signUp()")
        div
          input(type='email', ng-model="signUp.email", placeholder="Email...")
        div
          input(type='password', ng-model="signUp.password", placeholder="Password...")
        div
          button.btn.btn-primary(type='submit', ng-disabled="processing") Sign Up
    .span6
      h3 Login
      form(ng-submit="login()")
        div
          input(type='text', ng-model="login.email", placeholder="Email...")
        div
          input(type='password', ng-model="login.password", placeholder="Password...")
        div
          button.btn.btn-primary(type='submit', ng-disabled="processing") Login
